
<ion-header>
  <ion-navbar favorite>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!detailJob">Job List</ion-title>
    <ion-title *ngIf="detailJob">Job Detail : {{ jobdata.name }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding *ngIf="!detailJob">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
  	<ion-item>
  		<ion-select [(ngModel)]="category" width-50 (ionChange)="categoryChange()">
  		  <ion-option value="null">-- All Category --</ion-option>
		  <ion-option value="{{ c.id }}" *ngFor="let c of jobcategory">{{ c.name }}</ion-option>
		</ion-select>
  	</ion-item>
  </ion-list>
  <ion-card *ngFor="let jl of joblist">
	<ion-card-content>
	    <ion-card-title>
	      {{ jl.name }}
	    </ion-card-title>
	    <small>
	    	{{ toHumanDate(jl.date_start) }} - {{ toHumanDate(jl.date_end)}}
	    </small>
	    <p>
	      {{ jl.description }}
	    </p>
	    <ion-row no-padding>
	      <ion-col>
	        <button clear full icon-left (click)="tapToBookmark($event, jl.id)" small>
	          <ion-icon name='bookmark'></ion-icon>
	          Bookmark
	        </button>
	      </ion-col>
	      <ion-col>
	        <button clear full icon-left (click)="tapToDetail($event, jl.id)" small>
	          <ion-icon name='information-circle'></ion-icon>
	          Detail
	        </button>
	      </ion-col>
	      <ion-col text-right>
	        <button clear full icon-left small>
	          <ion-icon name='arrow-dropright-circle'></ion-icon>
	          Apply
	        </button>
	      </ion-col>
	    </ion-row>
  	</ion-card-content>
  </ion-card>
	<center *ngIf="noMore">
		No more data available
	</center>
	<ion-infinite-scroll (ionInfinite)="doInfinite($event)" distance="1%">
	   <ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>

<ion-content padding *ngIf="detailJob">
	<h1>{{ jobdata.name }}</h1>
	<ion-row>
		<ion-col>
			<b>Batch</b>
		</ion-col>
		<ion-col>
			: {{ jobdata.batch }}
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<b>Start</b>
		</ion-col>
		<ion-col>
			: {{ jobdata.date_start }}
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<b>End</b>
		</ion-col>
		<ion-col>
			: {{ jobdata.date_end }}
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<b>Description :</b>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			{{ jobdata.description }}
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<b>Requirement :</b>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			{{ jobdata.requirement }}
		</ion-col>
	</ion-row>
    <ion-row no-padding>
      <ion-col>
        <button clear full icon-left (click)="tapToBookmark($event, jobdata.id)">
          <ion-icon name='bookmark'></ion-icon>
          Bookmark
        </button>
      </ion-col>
      <ion-col text-right>
        <button clear full icon-left>
          <ion-icon name='arrow-dropright-circle'></ion-icon>
          Apply
        </button>
      </ion-col>
    </ion-row>
</ion-content>
