/*#sortable, #sortable ul { 
    overflow: hidden;
    position: relative;
}
#sortable .odd { 
    background: #09f
}
#sortable .ui-sortable-helper, #sortable .parent-hover { 
    display: none
}
#sortable .ui-state-highlight {
    border: solid 1px #f70 !important
}
#sortable .ui-sortable { 
    padding: 5px 0px 5px 20px;
    margin: 0;
    width: 100%;
}
#sortable .loading {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #fff;
    text-align: center;
    padding-top: 20px;
    opacity: 0.5;
}
#sortable li { 
    clear: both;
    list-style: none;
    padding: 5px 0px 0px 10px;
}
#sortable li { 
    border-top: solid 1px #ccc;
}
#sortable li:hover > .parent-hover {
    display: inline-block;
}
#sortable li:hover > .parent-hover > a {
    padding: 0px 10px;
}

.ui-sortable-handle { 
    cursor: move
}*/