// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

$main-color : #3e4095;


//Login setting

$bg 		: "../images/bg.jpg";
$logo-maxwidth : 35%;
$logo-margin-top : 20px;
$secunder-color	: white;

//END Login setting


@import "../pages/job-list/job-list";

@import "../pages/page2/page2";

@import "../pages/login/login";

.link{
	cursor:pointer;
}
.menu-icon{
	font-size:70px;
}
.menu-header {
  
	position: relative;
	text-align: center;

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}