<body>
  <my-app>
    <ion-header>
      <ion-navbar>
        <button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Input Form</ion-title>
      </ion-navbar>
    </ion-header>

    <ion-content>
      <form [formGroup]="inputForm" (ngSubmit)="save(inputForm.value, inputForm.valid)">
        <ion-list>
          <ion-item>
            <ion-label floating>Nama</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
          <ion-item *ngIf="inputForm.controls.name.touched && !inputForm.controls.name.valid" danger>
             <p *ngIf="inputForm.controls.name.errors.required">
                Your name is required.
             </p>
             <p *ngIf="inputForm.controls.name.errors.minlength">
                Your name must be at least 6 character.
             </p>
          </ion-item>
          <ion-item>
            <ion-label floating>Tempat Lahir</ion-label>
            <ion-input type="text" formControlName="birthplace"></ion-input>
          </ion-item>
          <ion-item *ngIf="inputForm.controls.birthplace.touched && !inputForm.controls.birthplace.valid" danger>
             <p *ngIf="inputForm.controls.birthplace.errors.required">
                Your birthplace is required.
             </p>
          </ion-item>
          <ion-item>
            <ion-label floating>Tanggal Lahir</ion-label>
            <ion-input type="date" formControlName="birthdate"></ion-input>
          </ion-item>
          <ion-item *ngIf="inputForm.controls.birthdate.touched && !inputForm.controls.birthdate.valid" danger>
             <p *ngIf="inputForm.controls.birthdate.errors.required">
                Your birthdate is required.
             </p>
          </ion-item>
          <ion-item>
            <ion-label floating>Alamat</ion-label>
            <ion-textarea formControlName="address"></ion-textarea>
          </ion-item>
          <ion-item *ngIf="inputForm.controls.address.touched && !inputForm.controls.address.valid" danger>
             <p *ngIf="inputForm.controls.address.errors.required">
                Your address is required.
             </p>
          </ion-item>
        </ion-list>
        <div padding>
          <button full type="submit">Submit</button>
        </div>
      </form>
    </ion-content>
  </my-app>
</body>