//menu y fancy
.menu-y.menu-fancy > li li > a {
  position: relative;
}
.menu-y.menu-fancy > li li > a::after {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: block;
  content: "";
  border-left: 1px dotted rgb(200, 200, 200);
}
.menu-y.menu-fancy > li li > a::before {
  position: absolute;
  top: 50%;
  z-index: 1;
  display: block;
  width: 7px;
  content: "";
  border-top: 1px dotted rgb(200, 200, 200);
}
.menu-y.menu-fancy > li > ul > li > a::after {
  left: 15px;
}
.menu-y.menu-fancy > li > ul > li > ul > li > a::after {
  left: 30px;
}
.menu-y.menu-fancy > li > ul > li > ul > li > ul > li > a::after {
  left: 45px;
}
.menu-y.menu-fancy > li > ul > li > ul > li > ul > li > ul > li > a::after {
  left: 60px;
}
.menu-y.menu-fancy.menu-md > li > ul > li > a::after,
.menu-y.menu-fancy.menu-lg > li > ul > li > a::after {
  left: 20px;
}
.menu-y.menu-fancy.menu-md > li > ul > li > ul > li > a::after,
.menu-y.menu-fancy.menu-lg > li > ul > li > ul > li > a::after {
  left: 40px;
}
.menu-y.menu-fancy.menu-md > li > ul > li > ul > li > ul > li > a::after,
.menu-y.menu-fancy.menu-lg > li > ul > li > ul > li > ul > li > a::after {
  left: 60px;
}
.menu-y.menu-fancy.menu-md > li > ul > li > ul > li > ul > li > ul > li > a::after,
.menu-y.menu-fancy.menu-lg > li > ul > li > ul > li > ul > li > ul > li > a::after {
  left: 80px;
}
.menu-y.menu-fancy > li > ul > li > a::before {
  left: 16px;
}
.menu-y.menu-fancy > li > ul > li > ul > li > a::before {
  left: 31px;
}
.menu-y.menu-fancy > li > ul > li > ul > li > ul > li > a::before {
  left: 46px;
}
.menu-y.menu-fancy > li > ul > li > ul > li > ul > li > ul > li > a::before {
  left: 61px;
}
.menu-y.menu-fancy > li li > a > .menu-icon::after {
  position: absolute;
  top: auto;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 2;
  display: none;
  font-size: 80%;
  font-style: normal;
  line-height: inherit;
  color: inherit;
  vertical-align: middle;
  // content: "►";
  content: "▶";
}
.menu-y.menu-fancy > li .active > a > .menu-icon::after,
.menu-y.menu-fancy > li li:hover > a > .menu-icon::after {
  display: initial;
}
.menu-y.menu-fancy > li > ul > li > a > .menu-icon::after {
  left: 14px;
}
.menu-y.menu-fancy > li > ul > li > ul > li > a > .menu-icon::after {
  left: 29px;
}
.menu-y.menu-fancy > li > ul > li > ul > li > ul > li > a > .menu-icon::after {
  left: 44px;
}
.menu-y.menu-fancy > li > ul > li > ul > li > ul > li > ul > li > a > .menu-icon::after {
  left: 59px;
}