<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Welcome</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="page1">

  <h3>Halaman dashboard blablabla</h3>

</ion-content>
