<ion-menu [content]="content">

    <div class="menu-header">
      <img src="build/images/bg.jpg"/>
      <div class="card-title">{{ username }}</div>
      <div class="card-subtitle">{{ email }}</div>
    </div>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

<!--   <ion-content>
    <ion-grid>
      <ion-row *ngFor="let p of pages2">
        <ion-col div *ngFor="let sp of p" width-50 (click)="openPage(sp)" text-center>
          <ion-icon name="heart" class="menu-icon"></ion-icon>
          <br>
          {{sp.title}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content> -->

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
