.logo-header{
	margin-top:$logo-margin-top;
	margin-bottom:10px;
}
.login-ion-content{
	background-image:url($bg);
	background-repeat:no-repeat;
	background-size:cover;
}
.login-ion-list > .item{
	background-color: transparent;
	border:1px solid $secunder-color;
	overflow: inherit ;
	text-overflow: inherit ;
	white-space: wrap ;
}
.login-ion-input.ng-untouched:not(.ng-dirty){
	border-bottom:1px solid $secunder-color;
}
.img-logo{
	max-width:$logo-maxwidth;
}
.input-has-focus ion-label,.text-input,.error-text{
	color:$secunder-color !important;
}
ion-slide {
  align-items: flex-start !important;
}
.swiper-pagination-bullet-active{
	background:$secunder-color;
}
ion-slides{
	height:1000px;
}