<my-app>
<ion-content class="login-ion-content">
	<div class="logo-header">
		<center>
			<img src="build/images/logo-real.png" class="img-logo">
		</center>
	</div>
	<div [ngSwitch]="authType">
		<div *ngSwitchCase="'login'">
		<form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value, loginForm.valid)" id="loginF">
		    <ion-list inset no-lines class="login-ion-list">
		      <ion-item>
		        <ion-label floating white>Username</ion-label>
		        <ion-input type="text" formControlName="username" class="login-ion-input"></ion-input>
		      </ion-item>
		      <ion-item *ngIf="loginForm.controls.username.touched && !loginForm.controls.username.valid" danger  text-wrap>
		         <p *ngIf="loginForm.controls.username.errors.required" class="error-text">
		            Your username is required.
		         </p>
		         <p *ngIf="loginForm.controls.username.errors.minlength" class="error-text">
		            Your username must be at least 5 character.
		         </p>
		      </ion-item>
		      <ion-item>
		        <ion-label floating white>Password</ion-label>
		        <ion-input type="password" formControlName="password" class="login-ion-input"></ion-input>
		      </ion-item>
		      <ion-item *ngIf="loginForm.controls.password.touched && !loginForm.controls.password.valid" danger  text-wrap>
		         <p *ngIf="loginForm.controls.password.errors.required" class="error-text">
		            Your password is required.
		         </p>
		         <p *ngIf="loginForm.controls.password.errors.minlength" class="error-text">
		            Your password must be at least 5 character.
		         </p>
		      </ion-item>
		    </ion-list>
		      <div padding>
			    <center>
			      <button full type="submit" white form="loginF">Login</button>
			    </center>
		      </div>
		</form>
		<center>
			<p white (click)="goToSlide('signup')" class="link"><u>Doesn't have an account?</u></p>
		</center>
		</div>
		<div *ngSwitchCase="'signup'">
		<form [formGroup]="inputForm" (ngSubmit)="signup(inputForm.value, inputForm.valid)">
		    <ion-list inset no-lines class="login-ion-list">
		      <ion-item>
		        <ion-label floating white>Name</ion-label>
		        <ion-input type="text" formControlName="name" class="login-ion-input"></ion-input>
		      </ion-item>
		      <ion-item *ngIf="inputForm.controls.name.touched && !inputForm.controls.name.valid" danger text-wrap>
		         <p *ngIf="inputForm.controls.name.errors.required" class="error-text">
		            Your name is required.
		         </p>
		         <p *ngIf="inputForm.controls.name.errors.minlength" class="error-text">
		            Your name must be at least 5 character.
		         </p>
		      </ion-item>
		      <ion-item>
		        <ion-label floating white>Username</ion-label>
		        <ion-input type="text" formControlName="username" class="login-ion-input"></ion-input>
		      </ion-item>
		      <ion-item *ngIf="inputForm.controls.username.touched && !inputForm.controls.username.valid" danger text-wrap>
		         <p *ngIf="inputForm.controls.username.errors.required" class="error-text">
		            Your username is required.
		         </p>
		         <p *ngIf="inputForm.controls.username.errors.minlength" class="error-text">
		            Your username must be at least 5 character.
		         </p>
		      </ion-item>
		      <ion-item>
		        <ion-label floating white>Password</ion-label>
		        <ion-input type="password" formControlName="password" class="login-ion-input"></ion-input>
		      </ion-item>
		      <ion-item *ngIf="inputForm.controls.password.touched && !inputForm.controls.password.valid" danger text-wrap>
		         <p *ngIf="inputForm.controls.password.errors.required" class="error-text">
		            Your password is required.
		         </p>
		         <p *ngIf="inputForm.controls.password.errors.minlength" class="error-text">
		            Your password must be at least 5 character.
		         </p>
		      </ion-item>
		      <ion-item>
		        <ion-label floating white>Birth Place</ion-label>
		        <ion-input type="text" formControlName="birthplace" class="login-ion-input"></ion-input>
		      </ion-item>
		      <ion-item *ngIf="inputForm.controls.birthplace.touched && !inputForm.controls.birthplace.valid" danger text-wrap>
		         <p *ngIf="inputForm.controls.birthplace.errors.required" class="error-text">
		            Your birthplace is required.
		         </p>
		      </ion-item>
		      <ion-item>
		        <ion-label floating white>Birthdate</ion-label>
		        <ion-input type="date" formControlName="birthdate" class="login-ion-input"></ion-input>
		      </ion-item>
		      <ion-item *ngIf="inputForm.controls.birthdate.touched && !inputForm.controls.birthdate.valid" danger text-wrap>
		         <p *ngIf="inputForm.controls.birthdate.errors.required" class="error-text">
		            Your birthdate is required.
		         </p>
		      </ion-item>
		      <ion-item>
		        <ion-label floating white>Address</ion-label>
		        <ion-textarea formControlName="address" class="login-ion-input"></ion-textarea>
		      </ion-item>
		      <ion-item *ngIf="inputForm.controls.address.touched && !inputForm.controls.address.valid" danger text-wrap>
		         <p *ngIf="inputForm.controls.address.errors.required" class="error-text">
		            Your address is required.
		         </p>
		      </ion-item>
		    </ion-list>
		    <div padding>
		      <button full type="submit" white>Sign Up</button>
		    </div>
		  </form>
		  <center>
			<p white (click)="goToSlide('login')" class="link"><u>Already have an account?</u></p>
		  </center>
		  </div>
		</div>
</ion-content>
</my-app>