<body>
	<my-app>

		<div padding>
	        <ion-segment [(ngModel)]="authType">
	          <ion-segment-button value="login">
	            Login
	          </ion-segment-button>
	          <ion-segment-button value="signup">
	            Signup
	          </ion-segment-button>
	        </ion-segment>
	    </div>
		
		<ion-content padding [ngSwitch]="authType">
			<form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value, loginForm.valid)" *ngSwitchCase="'login'" id="loginF">
		        <ion-list>
		          <ion-item>
		            <ion-label floating>Username</ion-label>
		            <ion-input type="text" formControlName="username"></ion-input>
		          </ion-item>
		          <ion-item *ngIf="loginForm.controls.username.touched && !loginForm.controls.username.valid" danger>
		             <p *ngIf="loginForm.controls.username.errors.required">
		                Your username is required.
		             </p>
		             <p *ngIf="loginForm.controls.username.errors.minlength">
		                Your username must be at least 5 character.
		             </p>
		          </ion-item>
		          <ion-item>
		            <ion-label floating>Password</ion-label>
		            <ion-input type="password" formControlName="password"></ion-input>
		          </ion-item>
		          <ion-item *ngIf="loginForm.controls.password.touched && !loginForm.controls.password.valid" danger>
		             <p *ngIf="loginForm.controls.password.errors.required">
		                Your password is required.
		             </p>
		             <p *ngIf="loginForm.controls.password.errors.minlength">
		                Your password must be at least 5 character.
		             </p>
		          </ion-item>
		        </ion-list>
		        <div padding>
		          <button full type="submit" form="loginF">Login</button>
		        </div>
		      </form>
  		       <form [formGroup]="inputForm" (ngSubmit)="signup(inputForm.value, inputForm.valid)" *ngSwitchCase="'signup'">
		        <ion-list>
		          <ion-item>
		            <ion-label floating>Nama</ion-label>
		            <ion-input type="text" formControlName="name"></ion-input>
		          </ion-item>
		          <ion-item *ngIf="inputForm.controls.name.touched && !inputForm.controls.name.valid" danger>
		             <p *ngIf="inputForm.controls.name.errors.required">
		                Your name is required.
		             </p>
		             <p *ngIf="inputForm.controls.name.errors.minlength">
		                Your name must be at least 5 character.
		             </p>
		          </ion-item>
		          <ion-item>
		            <ion-label floating>Username</ion-label>
		            <ion-input type="text" formControlName="username"></ion-input>
		          </ion-item>
		          <ion-item *ngIf="inputForm.controls.username.touched && !inputForm.controls.username.valid" danger>
		             <p *ngIf="inputForm.controls.username.errors.required">
		                Your username is required.
		             </p>
		             <p *ngIf="inputForm.controls.username.errors.minlength">
		                Your username must be at least 5 character.
		             </p>
		          </ion-item>
		          <ion-item>
		            <ion-label floating>Password</ion-label>
		            <ion-input type="password" formControlName="password"></ion-input>
		          </ion-item>
		          <ion-item *ngIf="inputForm.controls.password.touched && !inputForm.controls.password.valid" danger>
		             <p *ngIf="inputForm.controls.password.errors.required">
		                Your password is required.
		             </p>
		             <p *ngIf="inputForm.controls.password.errors.minlength">
		                Your password must be at least 5 character.
		             </p>
		          </ion-item>
		          <ion-item>
		            <ion-label floating>Tempat Lahir</ion-label>
		            <ion-input type="text" formControlName="birthplace"></ion-input>
		          </ion-item>
		          <ion-item *ngIf="inputForm.controls.birthplace.touched && !inputForm.controls.birthplace.valid" danger>
		             <p *ngIf="inputForm.controls.birthplace.errors.required">
		                Your birthplace is required.
		             </p>
		          </ion-item>
		          <ion-item>
		            <ion-label floating>Tanggal Lahir</ion-label>
		            <ion-input type="date" formControlName="birthdate"></ion-input>
		          </ion-item>
		          <ion-item *ngIf="inputForm.controls.birthdate.touched && !inputForm.controls.birthdate.valid" danger>
		             <p *ngIf="inputForm.controls.birthdate.errors.required">
		                Your birthdate is required.
		             </p>
		          </ion-item>
		          <ion-item>
		            <ion-label floating>Alamat</ion-label>
		            <ion-textarea formControlName="address"></ion-textarea>
		          </ion-item>
		          <ion-item *ngIf="inputForm.controls.address.touched && !inputForm.controls.address.valid" danger>
		             <p *ngIf="inputForm.controls.address.errors.required">
		                Your address is required.
		             </p>
		          </ion-item>
		        </ion-list>
		        <div padding>
		          <button full type="submit">Sign Up</button>
		        </div>
		      </form>
		</ion-content>
	</my-app>
</body>
